content {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 22px;
}

body {
    background-color: #f2ead7;
    font-family: Tahoma, 'Geneva', Verdana;
    margin: 0;
    padding: 0;
}

header {
    background-color: #002f46;
    display:grid;
    grid-template-columns: 150px auto;
    box-shadow: 5px 5px 10px #002f46;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: right;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

nav a:hover {
    background-color: #3488a0;
    border-radius: 5px;
    padding: 1em;
}

main section img {
    box-sizing: border-box;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;
}

h1 {
    color: white;
}

h2 {
    margin: 0;
}

h4 {
    color: bisque;
}

.home-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr)
}

.card-img, .mountains {
    width: 100%;
}

.join {
    color: #f2ead7;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}

.book {
    color: #f2ead7;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}

.join:hover {
    background-color: #95cab6; 
    color:#002f46;
}

.book:hover {
    background-color: #95cab6;
    color: #002f46;
}

.button-box {
    text-align: center;
}

.card-img {
    border: 10px solid #002f46;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #002f46;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    margin:200px 0;
    grid-column: 2/4;
    grid-row: 2/3;    
}
 
.camping-card {
    margin:200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin:200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #002f46;
}
    
.msg {
    background-color: #002f46;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #002f46;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

.msg a {
    text-decoration: none;
}

.msg a:hover {
    background-color: #3488a0;
}

.logo, .icon {
    width: 80px;
}

.icon {
    padding-top: 20px;
}

#logo_link {
    padding-top: 5px;
}

main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #95cab6;
    grid-column: 1/11;
    grid-row: 4/9;
}

footer {
    background-color: #f2ead7;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color:#002f46;
}

footer a:hover {
    background-color: #95cab6;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;

}

.social {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    .logo {
        width:110%;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .book {
        color:#6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}