*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  height: 100%;
  font-family: 'Trebuchet MS', sans-serif;
  background: linear-gradient(to bottom, #087aa8, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}


.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding-top: 0.5em;
  color: rgba(254, 241, 194, 0.896);
}

.content-box {
  background-image: url(../images/paper.jpg);
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
  display: flex;
  justify-content: center;
  background-size: auto;
  background-position: center;
}

table {
  border-collapse: collapse;
  max-width: 860px;
  width: 95%;
}

th, tr, td {
  border: 2px solid rgba(0, 0, 0, 0.7);
  padding: 0.5em;
}
.form {
  background-image: url(../images/paper.jpg);
  margin: 30px auto;
  width: 90%;
  max-width: 600px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2em;
  background-size: auto;
  background-position: center;
}

.form form label {
  display: block;
}

.form form label + input {
  margin-bottom: 1.2em;
}

input {
  width: 100%;
  margin: 0px, 20px;
}
.form form input:hover {
  background-color: rgba(64, 184, 239, 0);
}