* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: auto; 
}


header {
    background-color: #fcf4e8;
    border: 5px solid #e6d9c6;
}
nav {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr;
}

#links {
    grid-column: 3/4;    
    font-size: large;
    margin-top: 3.8em;
    display: flex;
    justify-content: right;
}

nav a {
    color:  #2a2e32;
    margin-right: 1em;
}

nav a:hover {
    color: #4a6fA5;
}

nav .logo {
    margin-top: 1em;
}

.logo {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 2fr .5fr;
    margin-left: 1em;
}

.logo img {
    width: 100px;
    height: auto;
    grid-row: 1/2;
}

.logo h3 {
    grid-row: 2/3;
}

body {
    background-color:#2a2e32;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero img {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 5em;
    background-color: hsl(280, 84%, 39%);
    padding: 1em;
    border-radius: 15px;
}

#hero h1 {
    color: white;
    text-align: center;
}
#hero h3 {
    color: beige;
    text-align: center;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    border: #4a6fA5 solid 5px;
    border-radius: 15px;
    background-color:#658ac1; 
}
.cards img {
    border: #4a6fA5 solid 5px;
    border-radius: 15px;
}

#futuregoals {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    color: white;
    font-size: large;
}
form {
    margin: 1.5em;
}
form label{
    display:block;
}
form label + input {
    margin-bottom: 2.5em;
}
#name label{
    grid-row: 1/2
}
#email {
    grid-row: 2/3;
}
#suggestion {
    grid-row: 3/4;
}
#submit {
    grid-row: 4/5;
    border: none;
}

ul {
    list-style-type: none;
    margin-left: 1em;
    line-height: 4em;
    padding: 2em;
    padding-left: 4em;
}
ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

ul li::before {
    content: "-";
    position: absolute;
    left: 0;
    font-size: large;
}
ul h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    width: 80%;
    justify-self: center;
}
th, tr, td {
    border: 5px solid #6a4fa3;
    padding: 0.5em;
    background-color: #8a6ec7;
}
footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 1em;
    background-color: #fcf4e8;
    border: 5px solid #e6d9c6;
}

footer .logo {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 2fr .5fr;
    margin-left: 1em;
    margin-top: 0.5em;
}
footer .logo h3 {
    grid-row: 2/3;
}
footer .logo img {
    grid-row: 1/2;
}
#links2 {
    grid-column: 2/3;    
    font-size: large;
    margin-top: 3.8em;
    display: flex;
    justify-content: space-evenly;
}
#social {
    grid-column: 3/4;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5em;
}
#social img {
    border-radius: 50%;
    border: 6px solid #6a4fa3;
}
#social img:hover {
    border-color: #8a6ec7;
}

